.intro {
    width: 80%;

    z-index: 10;

    font-size: 3rem;

    color: var(--neutral-color);

    pointer-events: none;
    user-select: none;
}

.intro h1 {
    text-align: center;

    font-weight: 400;
}

.intro-name {
    color: var(--accent-color);
}

@media (min-width: 1500px) {
    .intro {
        width: 45%;

        font-size: 2.5rem;
    }
}
