.background {
    position: absolute;

    background-color: var(--secondary-color);

    opacity: 1;

    transition: opacity 1s;
}

.background[data-is-visible='false'] {
    opacity: 0;

    transition: opacity 0.4s;
}
