.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: var(--secondary-color);

    opacity: 1;

    transition: none;
}

.background[data-is-visible='false'] {
    opacity: 0;

    transition: opacity 0.2s cubic-bezier(0.22, 1, 0.36, 1);
}
