.header {
    position: fixed;
    top: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;

    padding: 15px;

    pointer-events: none;
}

.header ul {
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;

    height: 13em;
}

.header ul li a,
.header ul li button:not(:disabled) {
    pointer-events: initial;
}

.header ul li a svg,
.header ul li button svg {
    height: 4.5em;
    width: 4.5em;

    stroke: var(--foreground-color);
}

@media (min-width: 300px) {
    .header {
        padding: 25px;
    }
}

@media (min-width: 750px) {
    .header {
        padding: 35px;
    }

    .header ul {
        flex-direction: row;

        height: initial;
        width: 6em;
    }

    .header ul :global(.color-scheme) {
        margin-top: -1px;
    }

    .header ul li a svg,
    .header ul li button svg {
        height: 2em;
        width: 2em;
    }
}

@media (min-width: 1500px) {
    .header ul {
        width: 4.5em;
    }

    .header ul :global(.color-scheme) {
        margin-top: -2px;
    }

    .header ul li a svg,
    .header ul li button svg {
        height: 1.5em;
        width: 1.5em;
    }
}
